/* Base Rules */

html,
body
{
	height: 100%;
	width: 100%;
	font-size: 62.5%; /* 1em - 10px for you weirdos out there */
	font-size: 100%; /* 1em - 16px */

	font-family: SourceSansPro, sans-serif;
}

h1, h2, h3, h4, h5, h6
{
	line-height: 1.33em;
}

h1
{
	font-size: 2.5em;
}

h2
{
	font-size: 1.75em;
}

h3
{
	font-size: 1.33em;
}

h4
{
	font-size: ;
}

h5
{
	font-size: ;
}

h6
{
	font-size: ;
}

/* Something to remember order of a rules: LoVe HAte
 * To take care about specificity overrides.
 */

a:link
{

}

a:visited
{

}

a:hover
{

}

a:active
{

}

a:focus
{

}