/* global rules */

*:after,
*:before
{
	content: "";
}

*
{
	box-sizing: border-box;
}

/* even elements */

.group:before, [class*="group"]:before,
.group:after, [class*="group"]:after
{
    display: table;
}

.group:after, [class*="group"]:after
{
    clear: both;
}

.group, [class*="group"]
{
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}











