/* global rules */

*:after,
*:before
{
	content: "";
}

*
{
	box-sizing: border-box;
}

/* group elements */

.group:before, [class*="group"]:before,
.group:after, [class*="group"]:after
{
    display: table;
}

.group:after, [class*="group"]:after
{
    clear: both;
}

.group, [class*="group"]
{
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

/* Just some silly colors to test the framework */
/* demonstration of the framework */

.page
{
	margin: 2em auto;
	width: 80%;
}

.even > *
{
	height: 100%;
}

.group > *,
[class*="group"] > *
{
	border: 1px solid #444;
	padding: .2em;
}

/* Start of the unlimited framework */


.group > *,
[class*="group"] > *
{
	float: left;
}

.group > *:first-child:nth-last-child(1)
{
    width: 100%;
}

.group > *:first-child:nth-last-child(2),
.group > *:first-child:nth-last-child(2) ~ *
{
    width: 50%;
}

.group > *:first-child:nth-last-child(3),
.group > *:first-child:nth-last-child(3) ~ *
{
    width: 33.3333%;
}

.group > *:first-child:nth-last-child(4),
.group > *:first-child:nth-last-child(4) ~ *
{
    width: 25%;
}

.group > *:first-child:nth-last-child(5),
.group > *:first-child:nth-last-child(5) ~ *
{
    width: 20%;
}

.group > *:first-child:nth-last-child(6),
.group > *:first-child:nth-last-child(6) ~ *
{
	width: 16.6666666666667%
}
.group > *:first-child:nth-last-child(7),
.group > *:first-child:nth-last-child(7) ~ *
{
	width: 14.2857142857143%
}
.group > *:first-child:nth-last-child(8),
.group > *:first-child:nth-last-child(8) ~ *
{
	width: 12.5%
}
.group > *:first-child:nth-last-child(9),
.group > *:first-child:nth-last-child(9) ~ *
{
	width: 11.1111111111111%
}
.group > *:first-child:nth-last-child(10),
.group > *:first-child:nth-last-child(10) ~ *
{
	width: 10%
}
.group > *:first-child:nth-last-child(11),
.group > *:first-child:nth-last-child(11) ~ *
{
	width: 9.0909090909091%
}
.group > *:first-child:nth-last-child(12),
.group > *:first-child:nth-last-child(12) ~ *
{
	width: 8.3333333333333%
}
.group > *:first-child:nth-last-child(13),
.group > *:first-child:nth-last-child(13) ~ *
{
	width: 7.6923076923077%
}
.group > *:first-child:nth-last-child(14),
.group > *:first-child:nth-last-child(14) ~ *
{
	width: 7.1428571428571%
}
.group > *:first-child:nth-last-child(15),
.group > *:first-child:nth-last-child(15) ~ *
{
	width: 6.6666666666667%
}
.group > *:first-child:nth-last-child(16),
.group > *:first-child:nth-last-child(16) ~ *
{
	width: 6.25%
}
.group > *:first-child:nth-last-child(17),
.group > *:first-child:nth-last-child(17) ~ *
{
	width: 5.8823529411765%
}
.group > *:first-child:nth-last-child(18),
.group > *:first-child:nth-last-child(18) ~ *
{
	width: 5.5555555555556%
}
.group > *:first-child:nth-last-child(19),
.group > *:first-child:nth-last-child(19) ~ *
{
	width: 5.2631578947368%
}
.group > *:first-child:nth-last-child(20),
.group > *:first-child:nth-last-child(20) ~ *
{
	width: 5%
}

[class*="group-1-4"] > *:first-child:nth-last-child(2)
{
	width: 25%
}

[class*="group-1-4"] > *:first-child:nth-last-child(2) ~ *
{
	width: 75%;
}
