/* global rules */

*:after,
*:before
{
	content: "";
}

*
{
	box-sizing: border-box;
}

/* group elements */

.group:before,
.group:after 
{
    display: table;
} 

.group:after 
{
    clear: both;
}

.group 
{
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}